* {
    margin: 0;
    text-decoration: none;
    list-style: none;
    padding: 0; 
    font-family: 'Inter', sans-serif;
}

.header {
    max-width: 1400px;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu ul {
    display: flex;
    gap: 40px;
    
}

.header-menu ul a {
    color: hsl(236, 13%, 42%);
}

.header-menu ul a:hover {
    color: hsl(5, 85%, 63%);
}

.container {
    margin: 0 auto;
    max-width: 1400px;
    display: flex;
    gap: 40px;
}

.featured-news {
    gap: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.featured-news img {
    width: 100%;
    grid-column: 1/-1;
}

.featured-news h1 {
    grid-row-start: 2;
    grid-row-end: 4;
    font-weight: 900;
    font-size: 80px;
}

.featured-news p {
    font-size: 24px;
}

.featured-news a {
    grid-row-start: 3;
}